@{
    ViewBag.Title = "Stats";
}

<h2>Raspberry Pi Stats</h2>

<div id="placeholder" style="height:800px; width:1024px;"></div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/stats.js"></script>
}