@{
    ViewBag.Title = "Stats";
}

<h2>Raspberry Pi Stats</h2>


<h3>Memory Usage Over Time</h3>
Node: <input type="text" id="txtNode">
<br />
Run:<input type="text" id="txtRun" />
<br />
<button onclick="GatherStats();">Gather Stats</button>
<p>
    <div id="placeholder" style="height:800px; width:1800px;"></div>
</p>

<h3>Number of Transactions</h3>
Run:<input type="text" id="txtRunNumbers" />
<br />
<button onclick="GatherNumbers();">Gather Numbers</button>
<p>
    <div id="placeholderNumbers" style="height:800px; width:800px;"></div>
</p>

@*@section scripts{
    <script type="text/javascript" src="~/Scripts/stats.js"></script>
}*@