@{

    Layout = "../Shared/_Layout.cshtml";

}

<div class="jumbotron">
    <h1>Hack Nashville 5</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Our Project</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Technologies Included</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>The Team</h2>
        <p></p>
    </div>
</div>